/*
font-family: 'Open Sans', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: rgb(127, 197, 191);
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;

}

header h1 {
    color: rgb(255, 251, 251);
    font-size: 35px;
    /* font-weight: 100; */
    font-style: italic;
    /* display: flex; */
    /* position: relative; */
    /* bottom: 35px;
    margin-left: 10px; */


}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo img {
    margin-right: 10px;
    float: left;

}


nav {
    background-color: rgba(127, 197, 191, 0.322);
    float: right;

}

nav ul {
    list-style: none;
    margin: 0%;
    padding: 50px;
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;

}


nav ul li a {
    color: rgb(34, 33, 33);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;


}

nav ul li a:hover {
    background-color: rgb(252, 243, 232);
}

nav ul li a.activo {
    background-color: rgb(252, 243, 232);
}

footer {
    background-color: rgb(219, 219, 219);
    text-align: center;
    margin-top: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.iconosRedes {
    display: flex;
    justify-content: center;
    background-color: rgb(219, 219, 219);
}

.iconosRedes a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    font-style: italic;
    font-weight: bold;
}

.iconosRedes a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.iconosRedes a:hover {
    background-color: rgb(255, 249, 249);
    transition: 0.5s;
}

.holder {
    max-width: 1500px;
    margin: 0 auto;
}

/*Inicio seccion home*/

.homeimg img {
    border-radius: 10%;
    padding-right: 30px;
    margin-top: 5%;
}

main.holder {
    justify-content: center;
    display: flex;
}

h2 {
    color: black;
    font-style: italic;

}

.Bienvenidos {
    /* width: 75%; */
    padding-right: 10px;
    box-sizing: border-box;

}

.columnas {
    display: flex;
    justify-content: space-between;
}

.Bienvenidos p {
    font-size: 20px;
    align-items: center;
}

.Testimonios {
    width: 30%;
    background-color: rgb(243, 236, 236);
    margin-bottom: 20%;
    float: right;


}

.Testimonio {
    background-color: rgb(243, 236, 236);
    padding: 20px;

}

.Testimonio .cita {
    /* font-weight: bold; */
    font-size: 15px;
    font-style: italic;
    display: block;
    justify-content: center;
}

.Testimonio .autor {
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
    justify-content: center;
}

h3 {
    color: #7fc5bf;
}

/* fin de Home*/
/*inicio de nosotros*/

.Objetivos {
    margin-right: 5%;
    text-align: center;
}

.Objetivos p {
    font-size: 16px;
    text-align: center;
}

.personas {
    display: inline-block;
    justify-content: space-between;
    margin-bottom: 5%;

}

.persona p {
    font-size: 18px;
}

.persona {
    border: 1px solid white;
    border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    background: #e3eeed;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.staff h2 {
    text-align: center;
}

.persona img {
    border-radius: 50%;
    box-shadow: 11px 10px 32px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 11px 10px 32px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 10px 32px 2px rgba(0, 0, 0, 0.75);
}